/*header style*/

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
  display: fix;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
  color: #ff6600;
  text-shadow: 0 0 10px rgba(255, 102, 0, 0.8);
}

section {
  height: 100vh;
  text-align: center;
  border-bottom: 3px solid rgb(138, 138, 201);
}

/*home section style*/

[src="photo.jpg"] {
  border: 3px solid rgb(138, 138, 201);
  height: 300px;
  width: auto;
  border-radius: 50%;
}

.tech-icons img {
  margin-right: 20px;
  margin-left: 20px;
}

/*about section style*/

[alt="Desk Image"] {
  float: left;
  width: 50%;
  margin-right: 10px;
}

.picText {
  margin-left: 220px;
  margin-right: 100px;
  margin-top: 80px;
}

#passage {
  padding-right: 150px;
  text-align: left;
}

/*footer style*/

footer {
  height: 10px;
}

footer h4 {
  float: left;
  margin-top: 10px;
  padding-right: 10px;
  border-right: 3px solid rgb(138, 138, 201);
}

.contact-icons {
  margin-left: 80px;
}

.contact-icons img {
  width: 30px;
  height: 30px;
  margin-top: 3px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.contact-icons img:hover {
  transform: scale(1.2);
}
